[submodule "sakurairo-arcaea-blog-skill"]
	path = sakurairo-arcaea-blog-skill
	url = https://github.com/AKCX2002/sakurairo-arcaea-blog-skill.git
[submodule "sakurairo-theme"]
	path = sakurairo-theme
	url = https://github.com/AKCX2002/sakurairo-theme.git
[submodule "babel-arcaea-code"]
	path = babel-arcaea-code
	url = https://github.com/AKCX2002/babel-arcaea-code.git
[submodule "wordpress-dm1-calculator"]
	path = wordpress-dm1-calculator
	url = https://github.com/AKCX2002/wordpress-dm1-calculator.git
